<%= form_for (@activity) do |activity| %>

  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field"> 
    <label>Activity Date
      <%= activity.datetime_select :date %>
    </label>
  </div>

  <div class="field">
    <label>Title
      <%= activity.text_field :title %>
    </label>
  </div>

  <div class="field">
    <label>Description
      <%= activity.text_area :description, placeholder: "Let us know what the purpose and plan is for this activity." %>
    </label>
  </div>

  <div class="field">
    <label>Address
      <%= activity.text_field :address, placeholder: "ex: 123 Main St, New York, NY" %>
    </label>
  </div>

  <div class="field">
    <label>Activity Type
      <%= activity.select :activity_type, ["Fundraiser", "March", "Networking", "Planning Meeting", "Rally", "Social", "Town Hall", "Other"]%>
    </label>
  </div>

  <div class="field">
    <label>Activity Focus
      <%= activity.select :activity_focus, ["Economy", "Environment", "GLBTQ", "Immigration", "Women", "POC", "Other"]%>
    </label>
  </div>

  <div class="field">
    <label>Organizer
      <%= activity.text_field :organizer %>
    </label>
  </div>

  <div class="field">
    <label>Title
      <%= activity.text_field :activity_link %>
    </label>
  </div>

  <div class="actions">
    <%= activity.submit %>
  </div>

<% end %>


