<%= link_to 'Add a New Activity', new_activity_path %>

<h1>Upcoming Activities</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Description</th>
      <th>Address</th> 
      <th>Type</th>
      <th>Focus</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>More Info</th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.date %></td>
        <td><%= activity.title %></td>
        <td><%= activity.description %></td>
        <td><%= activity.address %></td>
        <td><%= activity.activity_type %></td>
        <td><%= activity.activity_focus %></td>
        <td><%= link_to 'More Information', activity %></td>
<!--         <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        <td><%= activity.latitude %></td>
        <td><%= activity.longitude %></td>
      </tr>
    <% end %>
  </tbody>
</table>

